<div class="modal-header">
  <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">
    <i class="fa fa-times"></i>
  </button>
  <h3 class="modal-title">{{isNew ? 'Add' : ''}} Playlist URL</h3>
</div><!--modal-header-->

<div class="modal-body">          
  <div class="input-group custom-addon">
    <input type="text" class="form-control" placeholder="URL" id="url" ng-model="url">
    <span class="input-group-addon">
      <storage-selector company-id="{{companyId}}" type="single-file"></storage-selector>
    </span>
  </div>
</div><!--modal-body-->

<div class="modal-footer">
  <button class="btn-primary btn" ng-click="updateUrl()">{{isNew ? 'Add' : 'Update'}} <i class="fa fa-check icon-right"></i></button>
  <button class="btn btn-default" ng-click="dismiss()">Cancel <i class="fa fa-times icon-right"></i></button>
</div><!--modal-footer-->
